In [20]:
import os
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

In [3]:
data = pd.read_csv("bcwdata.csv", names = ["Sample code number","Clump Thickness","Uniformity of Cell Size","Uniformity of Cell Shape","Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses","Class"]);

In [4]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [5]:
data = data.drop(['Bare Nuclei'], axis = 1)

In [8]:
x = data[data.columns[1:9]]
y = data[data.columns[9]]

In [11]:
# Standardizing the features
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(x)

In [12]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2'])

In [15]:
principalDf.head()

   principal component 1  principal component 2
0              -1.304088              -0.148659
1               0.916752              -0.190742
2              -1.530546              -0.029081
3               1.549261              -0.785137
4              -1.172750              -0.116595

In [18]:
finalDf = pd.concat([principalDf, data[['Class']]], axis = 1)

In [24]:
finalDf.head()

   principal component 1  principal component 2  Class
0              -1.304088              -0.148659      2
1               0.916752              -0.190742      2
2              -1.530546              -0.029081      2
3               1.549261              -0.785137      2
4              -1.172750              -0.116595      2